@media only screen and (max-width: 768px) {


    header .navbar-brand {
        padding-left: 1rem;
    }
}

footer .row .col-md-2 {
    margin-top: 8vmin;
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
    .dot-img {
        margin-left: -5em;
        margin-top: 22px;
    }

}

@media only screen and (max-width: 320px) {}