* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}


header a {
    font-family: Poppins;
    font-size: 0.9em;
    color: #525252;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #1B88EB;
}

header .nav-link:hover {
    color: black;
}

.section-1 {
    padding: 20vmin 0;
}

.dot-img {
    margin-left: -5em;
    margin-top: 22px;
}

.dt12 {
    height: 16em;
    margin-top: 4em;
}

.card1 {
    height: 27em;
    width: 24em;
    border: #1B8CF4 11px solid;
}

.card2 {
    height: 13rem;
    width: 22rem;
    margin-top: 66px;
    border: #F9FAFB;
    background: #F9FAFB;
}

.t6 {
    margin-left: 17px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
}

.p6 {
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: -38px;
}

.em {
    margin-top: 13px;
    margin-left: 7e;
    margin-left: -14em;
}

.salestext {
    font-weight: 500;
    font-size: 17px;
    margin-top: 1px;
    margin-top: -23px;
    margin-left: 46px;
    font-family: 'Poppins';
    color: #1B88ED;

}

.dt6 {
    margin-top: 77px;
    margin-left: 86px;
}

.card-bt {
    text-decoration: none;
    padding: 7px 47px;
    border-radius: 25px;
    margin-top: 33px;
    background: #FF7A00;
    border-color: #FF7A00;
    margin-left: -80px;
}

.text1 {
    border: #1B8CF4 11px solid;
}



footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;

}

footer .ft-lg {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

footer .chex-ft {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #018AD8;
}

footer .u {
    text-decoration: underline;
}



/* login-page */

.l1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 42px;
    margin-top: -39px;
}

.l2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    margin-top: 33px;
    color: #1B88ED;
    ;
}

.l3 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #384047;
    margin-top: 38px;

}

.btn {
    border-radius: 30px;
    font-weight: bold;
    background: #2977EC;
    text-decoration: none;

}